.playerbar .progress+div {
  display: grid;
  
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 16px;
}
.playerbar .track {
 display: flex;
 height: 100%;
 margin: 5px 0;
}
.playerbar .track .cover-image {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .playerbar .track .cover-image img{
  height: 60px;
  width: 60px;
 }
 .playerbar .track .cover-image .fallback {
   padding: 16px;
   background-color: #000;
   height: 60px;
   opacity: 0.7;
  }
 
 .playerbar .track .cover-image .fallback path{ 
  color: #B39182;
 }
 
 .playerbar .track .name {
  margin: 5px 20px; 
  }

.playerbar .controls {
  display: flex;
  margin: 10px auto;
}
 .playerbar .controls button {
  border-radius: 0;
  border: 0;
  margin: 2px;
  padding: 0 15px;
  background: transparent;
 }
 .playerbar .controls .play-pause {
  display: flex;
 }
 .playerbar .controls .play-pause button svg{
   height: 28px;
   width: 28px;
 }
 .playerbar .controls button svg {
  height: 20px;
 }
 .playerbar .controls button path {
  color: #B39182;
 }
 .playerbar .controls button:hover path {
  color: #c9ab9f;
 }
 .playerbar .progress {
  margin-top: -0.7em ;
}
.playerbar .volume {
  display: flex;
  align-items: center; 
  justify-content: end;
}
.playerbar .volume path {
  color: #B39182;
}
.playerbar .volume label {
  padding-left: 20px;
}
