* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-family:
    Inconsolata LGC,
    monospace;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #B39182;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
}
.app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto auto;
}
.app>div {
  display: flex;
  /* height: 100vh;  */
  overflow: hidden; /* Prevents main container from scrolling */
}

.sidebar {
  overflow: scroll;
  padding: 15px;
  height: 85vh;
  background-color: #02130d;
}

.main {
  overflow: scroll;
  flex-grow: 2;
  background-color: #051f15;
  height: 85vh;
  padding: 45px;
}

.playerbar {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background: #111;
  color: #B39182;
}
